@model Lab_MVC_med_Javascript_och_Ajax.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hash)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
