
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@Html.ActionLink("Uppload new picture", "Create", "Picture")

@*<div class="flex-container">
    @for (var x = 0; x < Model.Count; x++)
    {
        <a href="@Url.Action("Show","Gallery",new { id = Model[x].id }, null)">
            <img style="height:100%;" class="img-responsive flex-item" src="@Url.Content($"{Model[x].url}")" alt=". . .ALT. . .">
        </a>
    }
</div>*@

    <div class="row">
            @for (var x = 0; x < Model.Count; x++)
            {
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img style="height:100px;" src="@Model[x].url" alt="...">
                        <div class="caption">
                            <h3>@Model[x].Title</h3>
                            <p>Size = @Model[x].Size</p>
                            <div>@Html.ActionLink("Comment", "Create", "Comments", new { id = Model[x].id }, null)</div>
                            <div>@Html.ActionLink("View picture", "Show", "Gallery", new { id = Model[x].id }, null)</div>
                            <div>@Html.ActionLink("See Comments", "Comment", "Gallery", new { id = Model[x].id }, null)<span>(@Model[x].Comments.Count)</span></div>
                            <div>@Html.ActionLink("Delete", "Delete", "Pictures", new { id = Model[x].id }, null)</div>

                        </div>
                    </div>
                </div>
            }

        </div>
<style>
    .flex-container {
            display: -webkit-flex;
            display: flex;
            width: 100%;      
            background-color: lightgrey;
            flex-wrap: wrap;
    }

    .flex-item {             
         
            margin: 10px;
    }
</style>